@import "tailwindcss";

body,
html {
  padding: 0;
  margin: 0;
  background: #333;
  color: #e6e6e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  height: 100dvh;
}

.tableGrid {
  display: grid;
  grid-template-areas:
    "top top top"
    "left t right";
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 3fr 5fr;
}

@keyframes scaleIn {
  0% {
    scale: 1.15;
  }

  100% {
    scale: 1;
  }
}




/* then grid-area:0 for example*/